# CMake build directory
Build/
Bin/
# Clangd cache
.cache/
# Archlinux Package
Package/ArchLinux/pkg/
Package/ArchLinux/rmg/
Package/ArchLinux/src/
Package/ArchLinux/*.pkg.*
# Fedora Package
Package/Fedora/*.rpm
Package/Fedora/*.tar.gz
Package/Fedora/results_*/
# Clangd compile_commands.json
compile_commands.json
# AppImage
squashfs-root
*.AppImage
# 3rdParty Build
Source/3rdParty/mupen64plus-core/src/asm_defines/asm_defines_gas.h
Source/3rdParty/mupen64plus-core/src/asm_defines/asm_defines_nasm.h
.vscode
