[Desktop Entry]
Type=Application
Name=Rosalie's Mupen GUI
Comment=An easy to use & cross-platform mupen64plus front-end written in C++ & Qt
Exec=RMG %f
TryExec=RMG
Icon=com.github.Rosalie241.RMG
Terminal=false
Categories=Game;Emulator;Qt;
MimeType=application/x-n64-rom;
Keywords=emulator;mupen64plus;n64;RMG
