[Desktop Entry]
Type=Application
Name=Rosalie's Mupen GUI
Comment=An easy to use & cross-platform mupen64plus front-end written in C++ & Qt
Exec=RMG
Icon=RMG
Terminal=false
Categories=Game;